.DS_Store
build
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
.settings
.project
.cproject
install_manifest.txt
*~
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Debug/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
socket.dir/
socket.vcxproj
socket.vcxproj.filters
libsocket.sdf
libsocket.sln
libsocket.v12.suo
ALL_BUILD.vcxproj.user
ZERO_CHECK.vcxproj.user
socket.vcxproj.user
*.opensdf